.filtersContainer {
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  
  .filterButton {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  .filterButton.active {
    background-color: rgb(147, 168, 133);
    color: white;
  }@media (max-width: 480px) {
    .filtersContainer {
      gap: 5px;
      margin: 10px 0;
    }
    
    .filterButton {
      font-size: 0.9rem;
      padding: 4px 8px;
    }
  }